@charset "UTF-8";

:root{
    --cor01: #CD5C5C;
    --cor02: #F08080;
    --cor03: #FF6347;
}

body{
    background-color: var(--cor01);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: rgb(209, 60, 60);
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

header>h1{
    color: aliceblue;
    font-size: 35px;
}

div.container{
    margin: auto;
    width: 600px;
    border-radius: 10px;
    background-color: #FF6347;
    padding: 5px;
}

div#relogio{
    color: aliceblue;
    font-size: 60px;
    text-align: center;
    background-color: #F08080;
    width: 200px;
    margin: auto;
    border-radius: 10px;
}

.botoes{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.func{
    background-color: #F08080;
    border-radius: 10px;
    font-size: 20px;
    color: aliceblue;
}