@charset "UTF-8";

:root{
    --cor01: #CD5C5C;
    --cor02: #F08080;
    --cor03: #FF6347;
}

body{
    background-color: var(--cor01);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: rgb(244, 81, 81);
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.093);
}

header>h1{
    color: aliceblue;
    font-size: 35px;
}

div.container{
    margin: auto;
    width: 600px;
    border-radius: 10px;
    background-color: #e56161;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.093);
}

div#relogio{
    color: aliceblue;
    font-size: 95px;
    text-align: center;
    background-color: #F08080;
    width: 250px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.093);
}

.botoes{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.func{
    cursor: pointer;
    background-color: #F08080;
    border-radius: 10px;
    font-size: 20px;
    color: aliceblue;
    border-color: #681a0c;
}
#botao_config{
    font-size: 20px;
    width: 28px;
    cursor: pointer;
    user-select: none;
}