@charset "UTF-8";

:root{
    --cor01: #CD5C5C;
    --cor02: #F08080;
    --cor03: #FF6347;
}

body{
    background-color: var(--cor01);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: rgb(209, 60, 60);
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

header>h1{
    color: aliceblue;
    font-size: 35px;
}

div.container{
    margin: auto;
    width: 600px;
    background-color: rgb(248, 73, 73);
    border-radius: 10px;
}

div#relogio{
    color: aliceblue;
    font-size: 50pt;
    text-align: center;
    padding: 10px;
}